version: '3'

services:
  whoami:
    image: containous/whoami
    container_name: whoami
    hostname: whoami
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.entrypoints=web-secure"
      - "traefik.http.routers.whoami.rule=Host(`whoami.home.papasmurf.nl`)"
      - "traefik.http.routers.whoami.tls.certResolver=traefik-secure"

networks:
  proxy:
    external: true
