version: '3'

services:
  netdata:
    image: netdata/netdata
    container_name: netdata
    hostname: netdata
    restart: unless-stopped
    networks:
      - proxy
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.netdata.entrypoints=web-secure"
      - "traefik.http.routers.netdata.rule=Host(`netdata.home.papasmurf.nl`)"
      - "traefik.http.routers.netdata.tls.certResolver=traefik-secure"

networks:
  proxy:
    external: true

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:
